{% extends 'base.html.twig' %}
{% block javascripts %}
    <script src="{{ asset('js') }}/home.js" type="text/javascript"></script>
{% endblock %}
{% block body %}
<div class="parallax-container shadow-5">
    <div class="parallax-content white-text">
        <div class="row">
            <div class="col s10 m6 l4 offset-s1 offset-m3 offset-l4">
                <h3 class="center-align">Encuentra un lugar para <span class="red-text text-darken-4">bailar</span></h3>
                <h5 class="center-align">Comienza a buscar cientos de centros de entretenimiento a tu alrededor.</h5>
            </div>
        </div>
        <div class="row">
            <div class="col middle-3-buttons">
                <a href="" class="btn btn-floating waves-effect waves-light btn-large pulse"><i class="material-icons right">my_location</i></a>
                <a href="" class="btn btn-floating waves-effect waves-light btn-large pulse"><i class="material-icons right">settings_voice</i></a>
                <a href="" class="btn btn-floating waves-effect waves-light btn-large pulse"><i class="material-icons right">star_half</i></a>
            </div>
        </div>
    </div>
    <div class="parallax">
        <img src="{{ asset('img') }}/parallax-welcom.jpg" width="100%">
    </div>
</div>
<div class="section">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>
{% endblock %}